# TITLE

#### names

## Introduction

## Preliminary Results

In [2]:
library('dplyr')
library("stringr")

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

We have downloaded the dataset from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/dataset/2/adult) to the data folder. Now we want to read the data from the dataset and import it into a dataframe.

In [3]:
adult_data <- read.table("./data/adult.data", header=FALSE, sep= ",",
                 col.names = c("age", "workclass", "fnlwgt", "education", "education_num", "marital_status", "occupation", "relationship", 
                               "race", "sex", "capital_gain", "capital_loss", "hours_per_week", "native_country", "class"))

adult_df <- as.data.frame(apply(adult_data, 2, str_remove_all, " "))

head(adult_df)
nrow(adult_df)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov        77516  Bachelors 13            Never-married
2 50  Self-emp-not-inc 83311  Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad   9             Divorced
4 53  Private          234721 11th      7             Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male   0            0
3 Handlers-cleaners Not-in-family White Male   0            0
4 Handlers-cleaners Husband       Black Male   0            0
5 Prof-specialty    Wife          Black Female 0            0
6 Exec-managerial   Wife          White Female 0            0
  hours_per_week native_country class
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

[1] 32561

We have successfully read the data from the dataset and store it in `adult_data`. We have also cleaned up and wrangled the data above. Now we want to filter out some information/data that we are not interested in.

In [4]:
data <- adult_df %>%
    filter(!education %in% c("Some-college", "Prof-school", "Assoc-acdm", "Assoc-voc", "Doctorate")) %>%
    mutate(above_50_k = (class == ">50K"))

head(data)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov        77516  Bachelors 13            Never-married
2 50  Self-emp-not-inc 83311  Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad   9             Divorced
4 53  Private          234721 11th      7             Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male   0            0
3 Handlers-cleaners Not-in-family White Male   0            0
4 Handlers-cleaners Husband       Black Male   0            0
5 Prof-specialty    Wife          Black Female 0            0
6 Exec-managerial   Wife          White Female 0            0
  hours_per_week native_country class above_50_k
1 40             United-States  <=50K FALSE
2 13             United-States  <=50K FALSE
3 40             United-States  <=50K FALSE
4 40             United-States  <=50K FALSE
5 40             Cuba           <=50K FALSE
6 40             United-States  <=50K FALSE